.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  padding: 5px;
}

.logo {
  width: 100px;
  height: 100px;
  padding-left: 10px;
  padding-top: 8px;
}

.option {
  display: flex;
  padding: 20px;
}

.option > h3 {
  padding: 10px;
}

.search-bar {
  padding-top: 45px;
}

.title {
  padding-top: 15px;
}

.card {
  padding: 10px;
  margin-top: 15px;
  margin-right: 100px;
  width: 200px;
  height: 300px;
  border: 1px solid black;
}

.card > img {
  width: 50%;
}

.RestaurantList {
  display: flex;
  flex-wrap: wrap;
}

.SearchBox {
  margin-top: 17px;
}

.shimmer {
  padding: 10px;
  margin-top: 15px;
  margin-right: 100px;
  width: 200px;
  height: 300px;
  background-color: lightgrey;
}
